Repository balena-io/balena-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint --typescript --fix, resin-lint

v14.1.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add typings for plans & subscriptions
  typings/balena-sdk/models.d.ts
Due: resin-lint --typescript --fix

v14.2.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

model: Add build_environment_variable
  DOCUMENTATION.md
  lib/models/application.js
  tests/integration/models/application.spec.coffee
  typings/balena-sdk/index.d.ts
  typings/balena-sdk/models.d.ts
Due: resin-lint --typescript --fix, resin-lint

v14.2.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Avoid $ExpectType b/c of issues with TS 3.9.6
  package.json
  typing_tests/pine-options.ts
  typing_tests/utils.ts
  typings/balena-sdk/models.d.ts
Due: resin-lint --typescript --fix

v14.2.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Standardize bluebird naming as `Bluebird`
  DOCUMENTATION.md
  lib/2fa.ts
  lib/auth.ts
  lib/models/api-key.ts
  lib/models/application-invite.ts
  lib/models/application.js
  lib/models/billing.ts
  lib/models/config.js
  lib/models/device.js
  lib/models/key.ts
  lib/models/organization.ts
  lib/models/os.ts
  lib/models/release.ts
  lib/models/service.ts
  lib/settings.js
  lib/util/dependent-resource.js
  lib/util/device-actions/device-actions-service.ts
  tests/integration/logs.spec.coffee
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/models/release.spec.coffee
  tests/integration/setup.coffee
  tests/integration/setup.d.ts
  typings/balena-pine.d.ts
  typings/balena-request.d.ts
  typings/balena-sdk/index.d.ts
Due: resin-lint --typescript --fix, resin-lint

v14.2.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Drop dtslint in favor of plain @ts-expect-error
  package.json
  typing_tests/pine-options-with-select.ts
  typing_tests/pine-options.ts
Due: resin-lint --typescript --fix

Enable strict checks for the typing tests
  typing_tests/tsconfig.json
Due: none

v14.2.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

WIP
  lib/util/callbacks.ts
Due: resin-lint --typescript --fix

Recheck callbacks getOwnPropertyDescriptor
  lib/util/callbacks.ts
Due: resin-lint --typescript --fix

.only some tests
  tests/integration/models/application.spec.coffee
Due: resin-lint

Use typescript import helpers
  package.json
  tsconfig.json
Due: none

v14.2.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Import balena-sdk type declarations via import type and not direct path
  lib/index.d.ts
  lib/models/api-key.ts
  lib/models/application-invite.ts
  lib/models/billing.ts
  lib/models/image.ts
  lib/models/key.ts
  lib/models/organization.ts
  lib/models/os.ts
  lib/models/release.ts
  lib/models/service.ts
  lib/util/builder.ts
  lib/util/device-actions/os-update/index.ts
  lib/util/device-os-version.ts
  lib/util/device-service-details.ts
  lib/util/device-types.ts
  lib/util/device.ts
  lib/util/local-mode.ts
  tests/integration/setup.d.ts
  typing_tests/pine-options-with-select.ts
  typing_tests/pine-options.ts
Due: resin-lint --typescript --fix

Simplify balena-pine custom typings
  typings/balena-pine.d.ts
Due: resin-lint --typescript --fix

Use import type for declaration imports
  lib/index.d.ts
  lib/models/billing.ts
  lib/models/os.ts
  lib/util/callbacks.ts
  lib/util/device-actions/device-actions-service.ts
  lib/util/device-actions/os-update/index.ts
  lib/util/device-types.ts
  lib/util/index.ts
  tests/integration/models/organization.spec.ts
  tests/typings/chai-samsam.d.ts
  tests/util_ts.ts
  typing_tests/pine-options-with-select.ts
  typing_tests/pine-options.ts
  typings/balena-pine.d.ts
  typings/balena-request.d.ts
  typings/balena-sdk/device-state.d.ts
  typings/balena-sdk/device-type-json.d.ts
  typings/balena-sdk/index.d.ts
  typings/balena-sdk/models.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

Simplify balena-request custom typings
  typings/balena-request.d.ts
Due: resin-lint --typescript --fix

v14.2.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Include typings for all lazy loaded requires
  lib/auth.ts
  lib/models/index.ts
  lib/models/os.ts
  lib/models/release.ts
  lib/models/service.ts
Due: resin-lint --typescript --fix

v14.2.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Improve internal typings by avoiding some `any` cases
  DOCUMENTATION.md
  lib/models/api-key.ts
  lib/models/billing.ts
  lib/models/image.ts
  lib/models/service.ts
Due: resin-lint --typescript --fix

v14.2.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Remove `this.skip` usage as a faster workaround to afterEach skipping
  tests/integration/models/application.spec.coffee
  tests/integration/models/billing.spec.ts
  tests/integration/models/tags.ts
  tests/integration/setup.coffee
  tests/util_ts.ts
Due: resin-lint --typescript --fix, resin-lint

v14.2.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

typings: Export pine variant w/ a mandatory $select on get requests
  typings/balena-pine.d.ts
  typings/balena-sdk/index.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

v14.3.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Tests: cache device type lookup
  tests/integration/setup.coffee
Due: resin-lint

v14.3.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add type checking for tests
  package.json
  tests/integration/arbitrary-pine-requests.spec.ts
  tests/integration/models/applicationInvite.spec.ts
  tests/integration/models/config.spec.ts
  tests/integration/models/organization.spec.ts
  tests/integration/models/tags.ts
  tests/typings/chai-samsam.d.ts
  tests/util.ts
  tests/util_ts.ts
  tsconfig.dev.json
Due: resin-lint --typescript --fix

v14.3.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Minimize bluebird sugar usage
  lib/2fa.ts
  lib/auth.ts
  lib/logs.js
  lib/models/api-key.ts
  lib/models/application-invite.ts
  lib/models/application.js
  lib/models/billing.ts
  lib/models/config.js
  lib/models/device.js
  lib/models/image.ts
  lib/models/key.ts
  lib/models/organization.ts
  lib/models/os.ts
  lib/models/release.ts
  lib/models/service.ts
  lib/util/builder.ts
  lib/util/dependent-resource.js
  lib/util/index.ts
  tests/integration/setup.coffee
Due: resin-lint --typescript --fix, resin-lint

v14.3.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Improve typings for `models.device.getLocalModeSupport`
  lib/util/local-mode.ts
  typings/balena-sdk/index.d.ts
Due: resin-lint --typescript --fix

Device model: last_connectivity_event and os_version can be null
  typings/balena-sdk/models.d.ts
Due: resin-lint --typescript --fix

Add typings for `models.application.getDashboardUrl`
  typings/balena-sdk/index.d.ts
Due: resin-lint --typescript --fix

Fix typings for `models.device.getLocalIPAddresses`
  typings/balena-sdk/index.d.ts
Due: resin-lint --typescript --fix

Path conditions:
  resin-lint --typescript --fix: any of: *.ts
  resin-lint: any of: *.coffee
