Repository balena-io/balena-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint --typescript --fix, resin-lint

Make the unique application name test less strict
  tests/integration/models/application.spec.coffee
Due: resin-lint

v12.30.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

**BREAKING** Create a DeviceTypeJson namespace with all related typings
  lib/models/os.ts
  lib/util/device-types.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add typings for the DeviceType resource
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add user.organization_membership
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

release.createFromUrl: Update to the orgs model
  lib/models/release.coffee
Due: resin-lint

**BREAKING** Change application and device commit to release references
  lib/models/application.coffee
  lib/models/device.coffee
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

**BREAKING** typings: Drop Application properties not part of the model
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

*BREAKING*: Stop actively supporting node 6 & 8
  .travis.yml
  README.md
  appveyor.yml
  package.json
Due: none

**BREAKING** Drop user.application navigation property
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add organization & organization_membership resources
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Use pine.upsert() for setting tags & envars
  lib/models/device.coffee
  lib/util/dependent-resource.coffee
  lib/util/index.ts
  lib/util/upsert.ts
Due: resin-lint --typescript --fix, resin-lint

typings: Reorder the DeviceWIthServices types
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Clarify that application.getAppByOwner also accepts organization handles
  lib/models/application.coffee
Due: resin-lint

**BREAKING** Drop the imageMakerUrl constructor option
  README.md
  lib/balena.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

Support creating applications for a specific organization
  lib/models/application.coffee
  tests/integration/models/application.spec.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

**DROP-ME**: Use the /resin endpoint
  lib/balena.coffee
Due: resin-lint

**BREAKING** typings: Rename ApplicationMember to ApplicationMembership
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add support for pine.upsert(), requires Pinejs ^10.19.1
  typings/balena-pine.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

Bump minimum supported Typescript to v3.8.2
  package.json
Due: none

auth: Add getPersonalOrganizationId() method
  lib/auth.coffee
  tests/integration/auth.spec.coffee
  tests/integration/balena.spec.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

**BREAKING**: Change application.user to application.organization
  tests/integration/models/application.spec.coffee
  tests/integration/models/release.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

Add team & team_membership resources
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add device overall_status & overall_progress tests
  tests/integration/models/device.spec.coffee
Due: resin-lint

utils: Add overloaded typing for the mergePineOptions helper
  lib/util/index.ts
Due: resin-lint --typescript --fix

typings/pinejs-client-core: Drop the nongeneric PineOptions & PineParams
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Change PineParams & PineOptions to be generic
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Make $filter or id required in pine DELETE & PATCH
  typings/balena-pine.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings: Improve the NavigationResource type
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

utils: Change getCurrentServiceDetailsPineOptions to return an expand
  lib/models/application.coffee
  lib/models/device.coffee
  lib/util/device-service-details.ts
Due: resin-lint --typescript --fix, resin-lint

**BREAKING** typings: Drop the "For" suffix on all exported Pine typings
  lib/models/api-key.ts
  lib/models/image.ts
  lib/models/service.ts
  lib/util/device-service-details.ts
  lib/util/index.ts
  typing_tests/pine-options.ts
  typings/balena-pine.d.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings/pinejs-client-core: Support AnyObject in PineOptionsFor<T>
  typing_tests/pine-options.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Drop the apiKey constructor option
  lib/balena.coffee
  tests/integration/balena.spec.coffee
  tests/integration/setup.coffee
  tests/integration/setup.d.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

typings/pinejs-client-core: Unify & use the pinejs-client type names
  lib/util/index.ts
  typings/balena-pine.d.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings: Add a PineOptionsWithFilter variant
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

tests: Update to work with the required $filter change
  tests/integration/logs.spec.coffee
  tests/integration/models/application.spec.coffee
  tests/integration/setup.coffee
Due: resin-lint

Add methods for the organization model
  lib/models/index.ts
  lib/models/organization.ts
  lib/util/index.ts
  tests/integration/models/organization.spec.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Drop duplicate service prop from ServiceInstall
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings: Use a separate OptionalNavigationResource type in the models
  typing_tests/pine-options.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

tests: Add some $selects to make the tests faster
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
Due: resin-lint

Path conditions:
  resin-lint --typescript --fix: any of: *.ts
  resin-lint: any of: *.coffee
