Repository balena-io/balena-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint --typescript --fix, resin-lint

.lintstagedrc:

{
	"*.ts": [
		"resin-lint --typescript --fix"
	],
	"*.coffee": [
		"resin-lint"
	]
}

Clarify that application.getAppByOwner also accepts organization handles
  lib/models/application.coffee
Due: resin-lint

typings: Add a PineOptionsWithFilter variant
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings/pinejs-client-core: Support AnyObject in PineOptionsFor<T>
  typing_tests/pine-options.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings: Reorder the DeviceWIthServices types
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Support creating applications for a specific organization
  lib/models/application.coffee
  tests/integration/models/application.spec.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

SQUASH: Add organization & organization_membership resources
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Drop user.application navigation property
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add tests for arbitary pine requests
  tests/integration/arbitrary-pine-requests.spec.ts
  tests/util_ts.ts
Due: resin-lint --typescript --fix

SQUASH: Support creating applications for a specific organization
  tests/integration/models/application.spec.coffee
  tests/integration/utils.ts
Due: resin-lint --typescript --fix, resin-lint

utils: Add overloaded typing for the mergePineOptions helper
  lib/util/index.ts
Due: resin-lint --typescript --fix

**BREAKING** Change the device_type of all models to resource references
  lib/models/application.coffee
  lib/models/device.coffee
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

**BREAKING** Expect a 409 status on unique constraint errors
  tests/integration/models/application.spec.coffee
Due: resin-lint

**BREAKING** Change application and device commit to release references
  lib/models/application.coffee
  lib/models/device.coffee
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

*BREAKING*: Stop actively supporting node 6 & 8
  .travis.yml
  README.md
  appveyor.yml
  package.json
Due: none

Add typings for the DeviceType resource
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings: Improve the NavigationResource type
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

Bump minimum supported Typescript to v3.8.2
  package.json
Due: none

utils: Change getCurrentServiceDetailsPineOptions to return an expand
  lib/models/application.coffee
  lib/models/device.coffee
  lib/util/device-service-details.ts
Due: resin-lint --typescript --fix, resin-lint

typings/pinejs-client-core: Drop the nongeneric PineOptions & PineParams
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

Fix the release.getWithImageDetails typings
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Improve the argument typings in mergePineOptions
  lib/util/index.ts
Due: resin-lint --typescript --fix

Bump balena-errors to 4.3.0
  package.json
Due: none

Convert the Release model to TypeScript
  DOCUMENTATION.md
  lib/models/release.coffee
  lib/models/release.ts
Due: resin-lint --typescript --fix, resin-lint

v12.30.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix the key model documentation & typings
  DOCUMENTATION.md
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Convert the Key model to TypeScript
  lib/balena.d.ts
  lib/models/key.coffee
  lib/models/key.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

v12.30.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Convert lib/auth to TypeScript
  lib/auth.coffee
  lib/auth.ts
  lib/balena.coffee
Due: resin-lint --typescript --fix, resin-lint

Convert lib/2fa to TypeScript
  lib/2fa.coffee
  lib/2fa.ts
Due: resin-lint --typescript --fix, resin-lint

Cleanup the auth.register docs & handling when no arg is provided
  DOCUMENTATION.md
  lib/auth.ts
Due: resin-lint --typescript --fix

v12.30.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add is_invalidated field typings to the Release resource
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

v12.31.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update to balena-lint 4.x
  .lintstagedrc
  package.json
  tslint.json
Due: none

v12.31.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Use native string type check
  lib/models/api-key.ts
Due: resin-lint --typescript --fix

Use native array type check
  lib/models/application.coffee
  lib/util/index.ts
  lib/util/upsert.ts
  tests/integration/models/billing.spec.ts
  tests/integration/models/config.spec.ts
  tests/integration/models/device.spec.coffee
Due: resin-lint --typescript --fix, resin-lint

Use native function type check
  lib/util/index.ts
Due: resin-lint --typescript --fix

v12.31.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Convert lib/util/dependent-resource.coffee to javascript
  .lintstagedrc
  lib/util/dependent-resource.coffee
  lib/util/dependent-resource.js
  package.json
  tsconfig.js.json
  tsconfig.json
Due: resin-lint
