Repository balena-io/balena-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint --typescript --fix, resin-lint

.lintstagedrc:

{
	"*.ts": [
		"resin-lint --typescript --fix"
	],
	"*.coffee": [
		"resin-lint"
	]
}

Clarify that application.getAppByOwner also accepts organization handles
  lib/models/application.js
  tests/integration/models/application.spec.coffee
Due: resin-lint

release.createFromUrl: Update to the orgs model
  lib/models/release.ts
Due: resin-lint --typescript --fix

**BREAKING** Change application and device commit to release references
  lib/models/application.js
  lib/models/device.js
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

typings: Reorder the DeviceWIthServices types
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Create a DeviceTypeJson namespace with all related typings
  lib/models/os.ts
  lib/util/device-types.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add typings for the DeviceType resource
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Change the device_type of all models to resource references
  lib/models/application.js
  lib/models/device.js
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

**BREAKING** typings: Drop duplicate service prop from ServiceInstall
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings: Improve the NavigationResource type
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings/pinejs-client-core: Support AnyObject in PineOptionsFor<T>
  typing_tests/pine-options.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings: Use a separate OptionalNavigationResource type in the models
  typing_tests/pine-options.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Change PineParams & PineOptions to be generic
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings/pinejs-client-core: Drop the nongeneric PineOptions & PineParams
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Drop the "For" suffix on all exported Pine typings
  lib/models/api-key.ts
  lib/models/image.ts
  lib/models/key.ts
  lib/models/release.ts
  lib/models/service.ts
  lib/util/device-service-details.ts
  lib/util/index.ts
  typing_tests/pine-options.ts
  typings/balena-pine.d.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings/pinejs-client-core: Unify & use the pinejs-client type names
  lib/util/index.ts
  typings/balena-pine.d.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Drop the apiKey constructor option
  lib/balena.coffee
  tests/integration/balena.spec.coffee
  tests/integration/setup.coffee
  tests/integration/setup.d.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

tests: Update to work with the required $filter change
  tests/integration/logs.spec.coffee
  tests/integration/models/application.spec.coffee
  tests/integration/setup.coffee
Due: resin-lint

**BREAKING** Make $filter or id required in pine DELETE & PATCH
  typings/balena-pine.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings: Add a PineOptionsWithFilter variant
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

utils: Change getCurrentServiceDetailsPineOptions to return an expand
  lib/models/application.js
  lib/models/device.js
  lib/util/device-service-details.ts
Due: resin-lint --typescript --fix

tests: Add some $selects to make the tests faster
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
Due: resin-lint

typings: Add a PineOptionsWithSelect variant
  typing_tests/pine-options-with-select.ts
  typing_tests/pine-options.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

utils: Add overloaded typing for the mergePineOptions helper
  lib/util/index.ts
Due: resin-lint --typescript --fix

Add methods for the organization model
  lib/models/index.ts
  lib/models/organization.ts
  lib/util/index.ts
  tests/integration/models/organization.spec.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Expect a 409 status on unique constraint errors
  tests/integration/models/application.spec.coffee
Due: resin-lint

**BREAKING**: Change the device.getStatus() to expect a uuid or id arg
  lib/models/device.js
  package.json
  tests/integration/models/device.spec.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

Add tests for arbitary pine requests
  tests/integration/arbitrary-pine-requests.spec.ts
  tests/util_ts.ts
Due: resin-lint --typescript --fix

Remove promise wrapping for private ensureSupervisorCompatibility
  lib/models/device.coffee
Due: resin-lint

v12.31.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Convert lib/models/device.coffee to javascript
  lib/models/device.coffee
  lib/models/device.d.ts
  lib/models/device.js
Due: resin-lint --typescript --fix, resin-lint

v12.31.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Convert lib/balena.coffee to javascript
  lib/balena.coffee
  lib/balena.js
  lib/logs.js
  lib/util/global-env.ts
Due: resin-lint --typescript --fix, resin-lint

Remove coffeescript building for lib
  gulpfile.coffee
  package.json
Due: resin-lint

v12.31.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add lodash back to the import blacklist
  tslint.json
Due: none

v12.31.12
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Improve logs typings
  lib/logs.js
Due: none

Improve settings typings
  lib/settings.js
Due: none

Improve device typings
  lib/models/device.js
Due: none

Improve config typings
  lib/models/config.js
Due: none
