Repository balena-io/balena-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint --typescript --fix, resin-lint

v12.31.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Switch to using native Object.assign
  lib/balena.coffee
  lib/models/application.coffee
  lib/models/os.ts
  lib/util/index.ts
Due: resin-lint --typescript --fix, resin-lint

Convert final isString to a native type check
  lib/util/index.ts
Due: resin-lint --typescript --fix

Switch to using native includes
  lib/models/device.coffee
  lib/models/os.ts
  lib/util/device-os-version.ts
Due: resin-lint --typescript --fix, resin-lint

Switch to using native version of `first`
  lib/models/os.ts
Due: resin-lint --typescript --fix

Switch to using native version of `reject`
  lib/models/os.ts
Due: resin-lint --typescript --fix

Switch to using native version of `size`
  lib/models/application.coffee
Due: resin-lint

Switch to using native version of `isEmpty`
  lib/models/application.coffee
  lib/models/device.coffee
  lib/models/key.ts
  lib/models/release.ts
  lib/util/device-os-version.ts
  lib/util/device.ts
  lib/util/upsert.ts
Due: resin-lint --typescript --fix, resin-lint

Switch to using native `find`
  lib/models/device.coffee
  lib/models/os.ts
  lib/util/upsert.ts
Due: resin-lint --typescript --fix, resin-lint

Switch to native number type check
  lib/util/index.ts
Due: resin-lint --typescript --fix

Switch to using native map
  lib/models/config.coffee
  lib/models/device.coffee
Due: resin-lint

Switch to using native some
  lib/models/device.coffee
Due: resin-lint

Switch to using native version of defaults
  lib/balena.coffee
  lib/models/os.ts
Due: resin-lint --typescript --fix, resin-lint

v12.31.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

util/index: Refactor & fix convertExpandToObject typings
  lib/util/index.ts
Due: resin-lint --typescript --fix

v12.31.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Convert lib/settings.coffee to javascript
  lib/balena.coffee
  lib/settings.coffee
  lib/settings.js
Due: resin-lint

Convert lib/logs.coffee to javascript
  DOCUMENTATION.md
  lib/balena.coffee
  lib/logs.coffee
  lib/logs.js
  lib/models/device.d.ts
Due: resin-lint --typescript --fix, resin-lint

Convert lib/models/config.coffee to javascript
  lib/models/config.coffee
  lib/models/config.js
  lib/models/device.d.ts
Due: resin-lint --typescript --fix, resin-lint

v12.31.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Stop passing unused `ResourceNotFoundError` parameter
  lib/models/application.coffee
  lib/models/device.coffee
Due: resin-lint

v12.31.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Convert lib/models/application.coffee to javascript
  lib/models/application.coffee
  lib/models/application.js
Due: resin-lint

v12.31.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Convert lib/models/device.coffee to javascript
  lib/models/device.coffee
  lib/models/device.d.ts
  lib/models/device.js
Due: resin-lint --typescript --fix, resin-lint

Add support for pine.upsert(), requires Pinejs ^10.19.1
  typings/balena-pine.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**DROP-ME**: Use the /resin endpoint
  lib/balena.coffee
Due: resin-lint

Use pine.upsert() for setting tags & envars
  lib/models/device.coffee
  lib/util/dependent-resource.js
  lib/util/index.ts
  lib/util/upsert.ts
Due: resin-lint --typescript --fix, resin-lint

Bump minimum supported Typescript to v3.8.2
  package.json
Due: none

*BREAKING*: Stop actively supporting node 6 & 8
  .travis.yml
  README.md
  appveyor.yml
  package.json
Due: none

**BREAKING** typings: Drop Application properties not part of the model
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Drop the imageMakerUrl constructor option
  README.md
  lib/balena.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

Add organization & organization_membership resources
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add user.organization_membership
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING**: Change application.user to application.organization
  tests/integration/models/application.spec.coffee
  tests/integration/models/release.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

**BREAKING** Drop user.application navigation property
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Rename ApplicationMember to ApplicationMembership
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add team & team_membership resources
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Clarify that application.getAppByOwner also accepts organization handles
  lib/models/application.js
  tests/integration/models/application.spec.coffee
Due: resin-lint

Support creating applications for a specific organization
  lib/models/application.js
  tests/integration/models/application.spec.coffee
  tests/integration/utils.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

Path conditions:
  resin-lint --typescript --fix: any of: *.ts
  resin-lint: any of: *.coffee
