Repository balena-io/balena-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint --typescript --fix, resin-lint

Add methods for the organization model
  lib/models/index.ts
  lib/models/organization.ts
  lib/util/index.ts
  tests/integration/models/organization.spec.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING**: Change the device.getStatus() to expect a uuid or id arg
  lib/models/device.js
  package.json
  tests/integration/models/device.spec.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

Add tests for arbitary pine requests
  tests/integration/arbitrary-pine-requests.spec.ts
  tests/util_ts.ts
Due: resin-lint --typescript --fix

Add is_archived to Application typings
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

v12.32.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

osUpdate: remove deprecated `update_done` HUP status from typings
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

osUpdate: add missing HUP status typings
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Update to balena-pine 11.0.0
  package.json
Due: none

Make sure the config & os tests start unauthenticated
  tests/integration/models/config.spec.ts
  tests/integration/models/os.spec.ts
Due: resin-lint --typescript --fix

Fix the url encoded error message expectations
  tests/integration/models/os.spec.ts
Due: resin-lint --typescript --fix

**BREAKING** Drop the imageMakerUrl constructor option
  README.md
  lib/balena.js
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

*BREAKING*: Stop actively supporting node 6 & 8
  .travis.yml
  README.md
  appveyor.yml
  package.json
Due: none

Bump minimum supported Typescript to v3.8.2
  package.json
Due: none

Add support for pine.upsert(), requires Pinejs ^10.19.1
  typings/balena-pine.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Drop Application properties not part of the model
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Use pine.upsert() for setting tags & envars
  lib/models/device.js
  lib/util/dependent-resource.js
  lib/util/index.ts
  lib/util/upsert.ts
Due: resin-lint --typescript --fix

v12.33.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add tests for accessing public apps while unauthenticated
  tests/integration/models/application.spec.coffee
Due: resin-lint

Update the DOCUMENTATION
  DOCUMENTATION.md
Due: none

v13.0.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

tests: Fix the mock image install incosnistencies
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
Due: resin-lint

v13.0.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix the docs fromSharedOptions to not accept any argument
  DOCUMENTATION.md
  lib/balena.js
Due: none

Properly define the arguments of setSharedOptions in the docs
  DOCUMENTATION.md
  lib/balena.js
Due: none

v13.0.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add created_at typings to Application resource
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

v13.1.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update dependencies
  package.json
  tests/integration/models/os.spec.ts
Due: resin-lint --typescript --fix

v13.1.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add a device.getProgress convenience method
  DOCUMENTATION.md
  lib/models/device.js
  tests/integration/models/device.spec.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

v13.2.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  resin-lint --typescript --fix: any of: *.ts
  resin-lint: any of: *.coffee
