Repository balena-io/balena-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint --typescript --fix, resin-lint

.lintstagedrc:

{
	"*.ts": [
		"resin-lint --typescript --fix"
	],
	"*.coffee": [
		"resin-lint"
	]
}

v12.23.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Disable balenaCI auto rebase
  repo.yml
Due: none

v12.23.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix the build failing on node v12
  DOCUMENTATION.md
  gulpfile.coffee
  package.json
Due: resin-lint

v12.23.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix the dependent app test randomly failing b/c of public apps
  tests/integration/models/application.spec.coffee
Due: resin-lint

Fix the tag tests failing b/c of public apps
  tests/integration/models/tags.ts
Due: resin-lint --typescript --fix

v12.23.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Re-enable balenaCI autoRebase
  repo.yml
Due: none

v12.23.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update balena-register-device to 6.0.1
  package.json
  tests/integration/models/device.spec.coffee
Due: resin-lint

v12.23.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

appveyor: Set to test against node 8
  appveyor.yml
Due: none

README: Update based on the latest doc generator version
  DOCUMENTATION.md
Due: none

v12.23.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

appveyor: Run node & browser tests in parallel
  appveyor.yml
  gulpfile.coffee
  karma.conf.coffee
  tests/integration/setup.coffee
Due: resin-lint

v12.23.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Added `getDashboardUrl(id)` to application model
  DOCUMENTATION.md
  lib/models/application.coffee
  tests/integration/models/application.spec.coffee
Due: resin-lint

Update `application.getDashboardUrl` example with `application.get` call to get application id
  DOCUMENTATION.md
  lib/models/application.coffee
Due: resin-lint

Update the documentation based on the newer jsdoc generator version
  DOCUMENTATION.md
Due: none

v12.23.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

v12.24.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

.gitignore: `.idea` directory generated by JetBrains IDE
  .gitignore
Due: none

v12.24.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix concealing network errors in auth.whoami() and auth.isLoggedIn()
  lib/auth.coffee
  tests/integration/auth.spec.coffee
Due: resin-lint

Update the docs based on the newer doc generator version
  DOCUMENTATION.md
Due: none

v12.24.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

auth.getEmail: Fix confusing call expression
  lib/auth.coffee
Due: resin-lint

v12.24.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix a test case name typo for auth.whoami()
  tests/integration/auth.spec.coffee
Due: resin-lint

v12.24.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add device status enum and typings
  lib/models/device.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

Add device statuses enum to device resource
  lib/models/device-ts.ts
  lib/models/device.coffee
  typings/balena-sdk.d.ts
  typings/device-overall-status.d.ts
Due: resin-lint --typescript --fix, resin-lint

v12.25.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Move service.coffee to service.ts (to preserve git history)
  lib/models/service.ts
Due: resin-lint --typescript --fix

Convert service model to typescript
  DOCUMENTATION.md
  lib/models/index.coffee
  lib/models/service.ts
  package.json
Due: resin-lint --typescript --fix, resin-lint

v12.25.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add overall_progress typings to device model
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

v12.26.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

application: Fix linter warning
  lib/models/application.coffee
Due: resin-lint
