Repository balena-io/balena-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint --typescript --fix, resin-lint

v12.26.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

typings_tests/pine-options: Update to work with TypeScript v3.8
  typing_tests/pine-options.ts
Due: resin-lint --typescript --fix

Bump TypeScript version to ^3.8.2, so that's used in tests
  package.json
Due: none

v12.26.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update dtslint to v3.1.0
  package.json
Due: none

v12.26.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Move image.coffee to image.ts (to preserve git history)
  lib/models/image.ts
Due: resin-lint --typescript --fix

Convert image model to typescript
  DOCUMENTATION.md
  lib/models/image.ts
  lib/models/index.coffee
Due: resin-lint --typescript --fix, resin-lint

v12.26.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Move billing.coffee to billing.ts (to preserve git history)
  lib/models/billing.ts
Due: resin-lint --typescript --fix

Convert the billing model to typescript
  lib/models/billing.ts
  lib/models/index.coffee
  typings/balena-request.d.ts
Due: resin-lint --typescript --fix, resin-lint

v12.26.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Remove unnecessary lodash/forEach usage
  lib/balena.coffee
  lib/models/application.coffee
Due: resin-lint

v12.26.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Lazy-load the sdk template props
  lib/balena.coffee
Due: resin-lint

Only import `notImplemented` when necessary
  lib/balena.coffee
Due: resin-lint

Lazy-load the models props
  lib/models/index.coffee
  lib/models/index.ts
Due: resin-lint --typescript --fix, resin-lint

v12.26.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add missing deviceType typings to ImgConfigOptions
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

v12.27.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update dependencies
  DOCUMENTATION.md
  package.json
Due: none

v12.27.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

typings: Add DeviceType logoUrl property
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

v12.28.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Move os.coffee to os.ts (to preserve git history)
  lib/models/os.ts
Due: resin-lint --typescript --fix

Convert OS model to typescript
  lib/balena.d.ts
  lib/models/device.coffee
  lib/models/index.ts
  lib/models/os.ts
  lib/util/index.ts
Due: resin-lint --typescript --fix, resin-lint

v12.28.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Unify the way that the models get exported
  lib/logs.coffee
  lib/models/application.coffee
  lib/models/config.coffee
  lib/models/device.coffee
  lib/models/index.ts
  lib/models/key.coffee
  lib/models/os.ts
  lib/models/release.coffee
  lib/models/service.ts
Due: resin-lint --typescript --fix, resin-lint

v12.28.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

typings: Add is_of__actor on the ApiKey
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings: Add `is_public` to the application model
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings: Add the contract field to the Image
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

v12.29.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

tests: Improve the dependent application test case
  tests/integration/models/application.spec.coffee
Due: resin-lint

v12.29.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Switch to a team for the CODEOWNERS file
  .github/CODEOWNERS
Due: none

typings/pinejs-client-core: Unify & use the pinejs-client type names
  lib/util/index.ts
  typings/balena-pine.d.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings: Add a PineOptionsWithFilter variant
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

Add team & team_membership resources
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Drop duplicate service prop from ServiceInstall
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Path conditions:
  resin-lint --typescript --fix: any of: *.ts
  resin-lint: any of: *.coffee
