Repository balena-io/balena-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint --typescript --fix, resin-lint

.lintstagedrc:

{
	"*.ts": [
		"resin-lint --typescript --fix"
	],
	"*.coffee": [
		"resin-lint"
	]
}

tests/util: Convert to TypeScript
  tests/util.ts
Due: resin-lint --typescript --fix

tests/util: Rename to .ts
  tests/util.ts
Due: resin-lint --typescript --fix

gulpfile: Convert to JavaScript
  gulpfile.js
  package.json
Due: none

karma.conf: Rename to .js
  karma.conf.js
Due: none

gulpfile: Rename to .js
  gulpfile.js
Due: none

test/util: Move load env to a different js file
  gulpfile.coffee
  karma.conf.coffee
  tests/loadEnv.js
  tests/util.ts
Due: resin-lint --typescript --fix, resin-lint

Extend the chai-samsam typings
  tests/typings/chai-samsam.d.ts
Due: resin-lint --typescript --fix

karma.conf: Convert to JavaScript
  karma.conf.js
Due: none

v13.3.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Properly handle caching for concurrent auth method calls
  lib/auth.ts
Due: resin-lint --typescript --fix

auth.isLoggedIn: Change to always confirm with the API
  lib/auth.ts
Due: resin-lint --typescript --fix

v13.4.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Avoid moment v2.25.0 that's missing published files
  package.json
Due: none

v13.4.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Avoid unnecessary `cloneDeep` usage
  lib/util/index.ts
Due: resin-lint --typescript --fix

v13.4.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

README: Clarify the deprecation policy
  README.md
Due: none

v13.4.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add SDK method to invite application members
  DOCUMENTATION.md
  lib/models/application-invite.ts
  lib/models/application.js
  package.json
  tests/integration/models/applicationInvite.spec.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

v13.5.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Switch to generating es2015 as that is already the minimum we support
  tsconfig.json
Due: none

v13.6.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add interface property - device.last_vpn_event
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings: Add device last_vpn_event
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

v13.7.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

typings: Add the mac_address field to the device
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

models/device: Add a getMACAddresses() method
  DOCUMENTATION.md
  lib/models/device.js
  tests/integration/models/device.spec.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

**BREAKING** Create a DeviceTypeJson namespace with all related typings
  lib/models/os.ts
  lib/util/device-types.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Drop duplicate service prop from ServiceInstall
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

tests: Update to work with the required $filter change
  tests/integration/logs.spec.coffee
  tests/integration/models/application.spec.coffee
  tests/integration/setup.coffee
Due: resin-lint

Update documentation
  DOCUMENTATION.md
Due: none

**BREAKING** typings: Drop the "For" suffix on all exported Pine typings
  lib/models/api-key.ts
  lib/models/application-invite.ts
  lib/models/image.ts
  lib/models/key.ts
  lib/models/release.ts
  lib/models/service.ts
  lib/util/device-service-details.ts
  lib/util/index.ts
  tests/integration/models/tags.ts
  typing_tests/pine-options.ts
  typings/balena-pine.d.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

Support creating applications for a specific organization
  lib/models/application.js
  tests/integration/models/application.spec.coffee
  tests/integration/utils.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

**BREAKING** typings: Change PineParams & PineOptions to be generic
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add methods for the organization model
  lib/models/index.ts
  lib/models/organization.ts
  lib/util/index.ts
  tests/integration/models/organization.spec.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add typings for the DeviceType resource
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings: Add a PineOptionsWithFilter variant
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

Bump minimum supported Typescript to v3.9.3
  package.json
Due: none

release.createFromUrl: Update to the orgs model
  lib/models/release.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Rename ApplicationMember to ApplicationMembership
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix
