Repository balena-io/balena-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint --typescript --fix, resin-lint

.lintstagedrc:

{
	"*.ts": [
		"resin-lint --typescript --fix"
	],
	"*.coffee": [
		"resin-lint"
	]
}

Switch to native equivalent of lodash/without
  lib/models/device.js
Due: none

Remove lodash/omit usage
  lib/models/release.ts
  lib/util/upsert.ts
Due: resin-lint --typescript --fix

Remove lodash/pick usage
  lib/models/api-key.ts
Due: resin-lint --typescript --fix

v13.2.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update dependencies
  package.json
Due: none

v13.2.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Lazy load more dependencies
  lib/2fa.ts
  lib/auth.ts
  lib/balena.js
Due: resin-lint --typescript --fix

Fix the auth module lazy loading in device & key modules
  lib/models/device.js
  lib/models/key.ts
Due: resin-lint --typescript --fix

v13.2.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Abstract callback support out of the method implementations
  lib/2fa.ts
  lib/auth.ts
  lib/balena.js
  lib/logs.js
  lib/models/api-key.ts
  lib/models/application.js
  lib/models/billing.ts
  lib/models/config.js
  lib/models/device.js
  lib/models/image.ts
  lib/models/index.ts
  lib/models/key.ts
  lib/models/os.ts
  lib/models/release.ts
  lib/models/service.ts
  lib/settings.js
  lib/util/callbacks.ts
  lib/util/dependent-resource.js
  lib/util/index.ts
Due: resin-lint --typescript --fix

Add a few callback tests
  tests/integration/models/application.spec.coffee
Due: resin-lint

v13.2.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Move to balena-lint v5
  package.json
Due: none

Reformat all files with balena-lint v5
  lib/2fa.ts
  lib/auth.ts
  lib/balena.js
  lib/logs.js
  lib/models/api-key.ts
  lib/models/application.js
  lib/models/billing.ts
  lib/models/config.js
  lib/models/device.js
  lib/models/image.ts
  lib/models/index.ts
  lib/models/key.ts
  lib/models/os.ts
  lib/models/release.ts
  lib/models/service.ts
  lib/settings.js
  lib/util/builder.ts
  lib/util/callbacks.ts
  lib/util/dependent-resource.js
  lib/util/device-actions/os-update/index.ts
  lib/util/device-service-details.ts
  lib/util/index.ts
  lib/util/pubsub.ts
  lib/util/upsert.ts
  tests/integration/models/api-key.spec.ts
  tests/integration/models/billing.spec.ts
  tests/integration/models/config.spec.ts
  tests/integration/models/image.spec.ts
  tests/integration/models/keys.spec.ts
  tests/integration/models/os.spec.ts
  tests/integration/models/service.spec.ts
  tests/integration/models/tags.ts
Due: resin-lint --typescript --fix

v13.2.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Refactor api-key tests to be faster
  tests/integration/models/api-key.spec.ts
Due: resin-lint --typescript --fix

v13.2.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Document the exported factory function
  DOCUMENTATION.md
  doc/DOCUMENTATION.hbs
  lib/balena.js
  package.json
Due: none

Document setSharedOptions & fromSharedOptions as static methods
  DOCUMENTATION.md
  lib/balena.js
Due: none

v13.2.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Change README to ## sections
  README.md
Due: none

Add a deprecation policy
  README.md
Due: none

v13.3.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix the typings to work with upstream memoizee declarations
  lib/models/os.ts
Due: resin-lint --typescript --fix

Stop using the Function TypeScript type
  lib/util/index.ts
  tests/integration/models/keys.spec.ts
Due: resin-lint --typescript --fix

v13.3.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

README: Update appveyor badge to point to the new balena-sdk project
  README.md
Due: none

v13.3.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Bump balena-register-device to v6.1.1 to send the api key as a header
  package.json
Due: none

v13.3.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Device: Lazy load balena-register-device
  lib/models/device.js
Due: none

Release: Lazy load the BuilderHelper
  lib/models/release.ts
Due: resin-lint --typescript --fix

v13.3.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix callback support on methods for dependent resources
  lib/models/application.js
  lib/models/device.js
  lib/models/release.ts
  lib/models/service.ts
  tests/integration/models/tags.ts
Due: resin-lint --typescript --fix

v13.3.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Split util function imports and lazy load them
  lib/models/device.js
  lib/models/os.ts
  lib/util/date.ts
  lib/util/index.ts
Due: resin-lint --typescript --fix

v13.3.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

models/device: Allow lazy loading balena-register-device
  lib/models/device.js
Due: none

models/os: Lazy load the deviceTypeUtils
  lib/models/os.ts
Due: resin-lint --typescript --fix

v13.3.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none
