Repository balena-io/balena-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint --typescript --fix, resin-lint

.lintstagedrc:

{
	"*.ts": [
		"resin-lint --typescript --fix"
	],
	"*.coffee": [
		"resin-lint"
	]
}

Fix typings for `models.device.getMACAddresses`
  typings/balena-sdk/index.d.ts
Due: resin-lint --typescript --fix

Improve typings for `models.device.lastOnline`
  typings/balena-sdk/index.d.ts
Due: resin-lint --typescript --fix

Improve typings for `models.device.getOsVersion`
  typings/balena-sdk/index.d.ts
Due: resin-lint --typescript --fix

Improve typings for `sdk.request`
  typings/balena-request.d.ts
Due: resin-lint --typescript --fix

Improve typings for `sdk.pine.post`
  typings/balena-pine.d.ts
Due: resin-lint --typescript --fix

v14.4.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Tests: merge multiple application deletions into a single call
  tests/integration/models/device.spec.coffee
Due: resin-lint

v14.4.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Tests: import BalenaSDK types directly
  tests/integration/arbitrary-pine-requests.spec.ts
  tests/integration/models/applicationInvite.spec.ts
  tests/integration/models/billing.spec.ts
  tests/integration/models/config.spec.ts
  tests/integration/models/keys.spec.ts
  tests/integration/models/os.spec.ts
  tests/integration/models/tags.ts
  tests/integration/setup.d.ts
  tests/integration/utils.ts
  tests/util_ts.ts
Due: resin-lint --typescript --fix

Tests: improve typing of tag helpers
  tests/integration/models/tags.ts
Due: resin-lint --typescript --fix

Tests: improve typing for access to private SDK os methods
  tests/integration/models/os.spec.ts
  tests/integration/setup.d.ts
Due: resin-lint --typescript --fix

v14.4.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

typings: Add typings for the ReleaseImage
  typings/balena-sdk/models.d.ts
Due: resin-lint --typescript --fix

typings/ImageInstall: Add the missing device property
  typings/balena-sdk/models.d.ts
Due: resin-lint --typescript --fix

Avoid typescript type checking built es2015 files
  tests/util.spec.ts
  tsconfig.dev.json
Due: resin-lint --typescript --fix

Convert all remaining tests away from coffeescript
  .hound.yml
  .lintstagedrc
  gulpfile.js
  karma.conf.js
  lib/models/device.js
  package.json
  tests/integration/auth.spec.coffee
  tests/integration/auth.spec.js
  tests/integration/balena.spec.coffee
  tests/integration/balena.spec.js
  tests/integration/logs.spec.coffee
  tests/integration/logs.spec.js
  tests/integration/models/application.spec.coffee
  tests/integration/models/application.spec.js
  tests/integration/models/config.spec.ts
  tests/integration/models/device.spec.coffee
  tests/integration/models/device.spec.js
  tests/integration/models/release.spec.coffee
  tests/integration/models/release.spec.js
  tests/integration/models/tags.ts
  tests/integration/setup.coffee
  tests/integration/setup.d.ts
  tests/integration/setup.js
  tests/util.spec.coffee
  tests/util.spec.ts
  tsconfig.dev.json
Due: resin-lint --typescript --fix, resin-lint

tests/integration/setup: Convert to TypeScript
  tests/integration/setup.ts
Due: resin-lint --typescript --fix

tests/integration/setup: Rename to .ts
  tests/integration/setup.ts
Due: resin-lint --typescript --fix

tests: Drop balena sdk require() calls in favor of imports
  tests/integration/models/os.spec.ts
  tests/integration/utils.ts
Due: resin-lint --typescript --fix

typings/ImageInstall: Deprecate the image field
  typings/balena-sdk/models.d.ts
Due: resin-lint --typescript --fix

typings/ImageInstall: Add the `installs__image` field
  typings/balena-sdk/models.d.ts
Due: resin-lint --typescript --fix

v14.5.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Tests: remove bluebird usage
  tests/integration/auth.spec.js
  tests/integration/logs.spec.js
  tests/integration/models/api-key.spec.ts
  tests/integration/models/application.spec.js
  tests/integration/models/billing.spec.ts
  tests/integration/models/config.spec.ts
  tests/integration/models/device.spec.js
  tests/integration/models/os.spec.ts
  tests/integration/models/release.spec.js
  tests/integration/models/service.spec.ts
  tests/integration/models/tags.ts
  tests/integration/setup.ts
  typings/balena-sdk/index.d.ts
  typings/balena-sdk/models.d.ts
  typings/utils.d.ts
Due: resin-lint --typescript --fix

v14.5.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

typings Add RecoveryTwoFactor
  typings/balena-sdk/models.d.ts
Due: resin-lint --typescript --fix

typings: Add ApplicationHostedOnApplication
  typings/balena-sdk/models.d.ts
Due: resin-lint --typescript --fix

v14.6.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add an organization parameter to all billing methods
  DOCUMENTATION.md
  lib/models/billing.ts
  tests/integration/models/billing.spec.ts
  typings/balena-sdk/index.d.ts
Due: resin-lint --typescript --fix

v14.7.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix is_private typings for device type
  typings/balena-sdk/models.d.ts
Due: resin-lint --typescript --fix

v14.7.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

**BREAKING** billing: Make the organization parameter fist & required
  DOCUMENTATION.md
  lib/models/billing.ts
  tests/integration/models/billing.spec.ts
  typings/balena-sdk/index.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Export as an ES6 module
  DOCUMENTATION.md
  lib/index.js
  tests/integration/setup.ts
  typings/balena-pine.d.ts
  typings/balena-sdk/device-state.d.ts
  typings/balena-sdk/device-type-json.d.ts
  typings/balena-sdk/index.d.ts
  typings/balena-sdk/models.d.ts
  typings/utils.d.ts
Due: resin-lint --typescript --fix

DeviceWithServiceDetails: preserve the image_install & gateway_downloads
  lib/util/device-service-details.ts
  tests/integration/models/application.spec.js
  tests/integration/models/device.spec.js
  typings/balena-sdk/models.d.ts
Due: resin-lint --typescript --fix

typings: Deprecate DeviceWithImageInstalls in favor of the Device type
  lib/util/device-service-details.ts
  typings/balena-sdk/models.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Export setSharedOptions & fromSharedOptions separately
  DOCUMENTATION.md
  lib/index.js
  tests/integration/balena.spec.js
  tests/integration/setup.ts
  typings/balena-sdk/index.d.ts
Due: resin-lint --typescript --fix

v15.0.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

v14.8.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Review changes { getSdk }
  DOCUMENTATION.md
  lib/index.js
  tests/integration/setup.ts
  typings/balena-sdk/index.d.ts
Due: resin-lint --typescript --fix
