Repository balena-io/balena-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint --typescript --fix, resin-lint

.lintstagedrc:

{
	"*.ts": [
		"resin-lint --typescript --fix"
	],
	"*.coffee": [
		"resin-lint"
	]
}

typings: Drop the has_dependent field from the Device
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings/pinejs-client-core: Unify & use the pinejs-client type names
  lib/util/index.ts
  typings/balena-pine.d.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings: Use a separate OptionalNavigationResource type in the models
  typing_tests/pine-options.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

Bump minimum supported Typescript to v3.9.3
  package.json
Due: none

typings/pinejs-client-core: Support AnyObject in PineOptionsFor<T>
  typing_tests/pine-options.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

utils: Add overloaded typing for the mergePineOptions helper
  lib/util/index.ts
Due: resin-lint --typescript --fix

typings: Drop the app_name field from the Device
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Drop the "For" suffix on all exported Pine typings
  lib/models/api-key.ts
  lib/models/application-invite.ts
  lib/models/image.ts
  lib/models/key.ts
  lib/models/release.ts
  lib/models/service.ts
  lib/util/device-service-details.ts
  lib/util/index.ts
  tests/integration/models/tags.ts
  typing_tests/pine-options.ts
  typings/balena-pine.d.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings/pinejs-client-core: Drop the nongeneric PineOptions & PineParams
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

utils: Change getCurrentServiceDetailsPineOptions to return an expand
  lib/models/application.js
  lib/models/device.js
  lib/util/device-service-details.ts
Due: resin-lint --typescript --fix

**BREAKING** Create a DeviceTypeJson namespace with all related typings
  lib/models/os.ts
  lib/util/device-types.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add organization & organization_membership resources
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Make $filter or id required in pine DELETE & PATCH
  typings/balena-pine.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Change the device_type of all models to resource references
  lib/models/application.js
  lib/models/device.js
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

Update documentation
  DOCUMENTATION.md
Due: none

Add team & team_membership resources
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Rename ApplicationMember to ApplicationMembership
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings: Add a PineOptionsWithFilter variant
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings: Improve the NavigationResource type
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings: Add a PineOptionsWithSelect variant
  typing_tests/pine-options-with-select.ts
  typing_tests/pine-options.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

Support creating applications for a specific organization
  lib/models/application.js
  tests/integration/models/application.spec.coffee
  tests/integration/utils.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

tests: Update to work with the required $filter change
  tests/integration/logs.spec.coffee
  tests/integration/models/application.spec.coffee
  tests/integration/setup.coffee
Due: resin-lint

Add user.organization_membership
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

release.createFromUrl: Update to the orgs model
  lib/models/release.ts
Due: resin-lint --typescript --fix

**BREAKING** Use the /v6 API endpoint
  lib/balena.js
Due: none

**BREAKING** typings: Change PineParams & PineOptions to be generic
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Change application and device commit to release references
  lib/models/application.js
  lib/models/device.js
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

Add support for pine.upsert(), requires Pinejs ^10.19.1
  typings/balena-pine.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

Clarify that application.getAppByOwner now accepts organization handles
  lib/models/application.js
  tests/integration/models/application.spec.coffee
Due: resin-lint

**BREAKING** Drop user.application navigation property
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

v14.0.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Bump balena-config-karma to v3
  package.json
Due: none

appveyor: Increase the node space size
  appveyor.yml
Due: none

v14.0.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Move the core sdk typings under a balena-sdk folder
  package.json
  typings/balena-sdk/device-overall-status.d.ts
  typings/balena-sdk/index.d.ts
Due: resin-lint --typescript --fix

typings: Split the SBVR model types to a different file
  typings/balena-sdk/index.d.ts
  typings/balena-sdk/models.d.ts
Due: resin-lint --typescript --fix

typings: Split the DeviceTypeJson namespace types to a different file
  typings/balena-sdk/device-type-json.d.ts
  typings/balena-sdk/index.d.ts
Due: resin-lint --typescript --fix

typings: Split the DeviceState namespace types to a different file
  typings/balena-sdk/device-state.d.ts
  typings/balena-sdk/index.d.ts
Due: resin-lint --typescript --fix

v14.0.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Generate optional build for es2018 as well as the default es2015
  .gitignore
  README.md
  gulpfile.js
  index.js
  karma.conf.js
  lib/2fa.ts
  lib/auth.ts
  lib/index.d.ts
  lib/index.js
  lib/models/api-key.ts
  lib/models/application-invite.ts
  lib/models/billing.ts
  lib/models/image.ts
  lib/models/index.ts
  lib/models/key.ts
  lib/models/organization.ts
  lib/models/os.ts
  lib/models/release.ts
  lib/models/service.ts
  lib/util/builder.ts
  package.json
  tests/util.spec.coffee
Due: resin-lint --typescript --fix, resin-lint
