Repository balena-io/balena-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint --typescript --fix, resin-lint

.lintstagedrc:

{
	"*.ts": [
		"resin-lint --typescript --fix"
	],
	"*.coffee": [
		"resin-lint"
	]
}

**BREAKING** Change the device_type of all models to resource references
  lib/models/application.coffee
  lib/models/device.coffee
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

typings: Add a PineOptionsWithSelect variant
  typing_tests/pine-options-with-select.ts
  typing_tests/pine-options.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Expect a 409 status on unique constraint errors
  tests/integration/models/application.spec.coffee
Due: resin-lint

SQUASH: Add organization & organization_membership resources
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

SQUASH: Support creating applications for a specific organization
  tests/integration/models/application.spec.coffee
  tests/integration/utils.ts
Due: resin-lint --typescript --fix, resin-lint

SQUASH: Clarify that application.getAppByOwner also accepts org handles
  lib/models/application.coffee
  tests/integration/models/application.spec.coffee
Due: resin-lint

Revert "auth: Add getPersonalOrganizationId() method"
  lib/auth.coffee
  tests/integration/auth.spec.coffee
  tests/integration/balena.spec.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

Add tests for arbitary pine requests
  tests/integration/arbitrary-pine-requests.spec.ts
  tests/util_ts.ts
Due: resin-lint --typescript --fix

Document the device overall_status and overall_progress fields
  DOCUMENTATION.md
  lib/models/device.coffee
Due: resin-lint

v12.30.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Better document the device.getStatus() method
  DOCUMENTATION.md
  lib/models/device.coffee
Due: resin-lint

device.getStatus: Suggest selecting the overall_status field directly
  DOCUMENTATION.md
  lib/models/device.coffee
Due: resin-lint

v12.30.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

**BREAKING**: Change application.user to application.organization
  tests/integration/models/application.spec.coffee
  tests/integration/models/release.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

Add methods for the organization model
  lib/models/index.ts
  lib/models/organization.ts
  lib/util/index.ts
  tests/integration/models/organization.spec.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add support for pine.upsert(), requires Pinejs ^10.19.1
  typings/balena-pine.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Drop the imageMakerUrl constructor option
  README.md
  lib/balena.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

**BREAKING** Create a DeviceTypeJson namespace with all related typings
  lib/models/os.ts
  lib/util/device-types.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Drop duplicate service prop from ServiceInstall
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

tests: Add some $selects to make the tests faster
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
Due: resin-lint

**BREAKING** typings: Change PineParams & PineOptions to be generic
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Rename ApplicationMember to ApplicationMembership
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING**: Change the device.getStatus() to expect a uuid or id arg
  lib/models/device.coffee
  package.json
  tests/integration/models/device.spec.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

release.createFromUrl: Update to the orgs model
  lib/models/release.coffee
Due: resin-lint

Add team & team_membership resources
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Drop the "For" suffix on all exported Pine typings
  lib/models/api-key.ts
  lib/models/image.ts
  lib/models/service.ts
  lib/util/device-service-details.ts
  lib/util/index.ts
  typing_tests/pine-options.ts
  typings/balena-pine.d.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**DROP-ME**: Use the /resin endpoint
  lib/balena.coffee
Due: resin-lint

auth: Add getPersonalOrganizationId() method
  lib/auth.coffee
  tests/integration/auth.spec.coffee
  tests/integration/balena.spec.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

typings/pinejs-client-core: Unify & use the pinejs-client type names
  lib/util/index.ts
  typings/balena-pine.d.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

Add user.organization_membership
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Make $filter or id required in pine DELETE & PATCH
  typings/balena-pine.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

tests: Update to work with the required $filter change
  tests/integration/logs.spec.coffee
  tests/integration/models/application.spec.coffee
  tests/integration/setup.coffee
Due: resin-lint

Use pine.upsert() for setting tags & envars
  lib/models/device.coffee
  lib/util/dependent-resource.coffee
  lib/util/index.ts
  lib/util/upsert.ts
Due: resin-lint --typescript --fix, resin-lint

Add organization & organization_membership resources
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings: Use a separate OptionalNavigationResource type in the models
  typing_tests/pine-options.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Drop the apiKey constructor option
  lib/balena.coffee
  tests/integration/balena.spec.coffee
  tests/integration/setup.coffee
  tests/integration/setup.d.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

**BREAKING** typings: Drop Application properties not part of the model
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix
