Repository balena-io/balena-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint --typescript --fix, resin-lint

.lintstagedrc:

{
	"*.ts": [
		"resin-lint --typescript --fix"
	],
	"*.coffee": [
		"resin-lint"
	]
}

tests: Add some $selects to make the tests faster
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
Due: resin-lint

**BREAKING** Drop user.application navigation property
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add team & team_membership resources
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings/pinejs-client-core: Unify & use the pinejs-client type names
  lib/util/index.ts
  typings/balena-pine.d.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

Add user.organization_membership
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings: Improve the NavigationResource type
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

Add tests for arbitary pine requests
  tests/integration/arbitrary-pine-requests.spec.ts
  tests/util_ts.ts
Due: resin-lint --typescript --fix

**BREAKING**: Change application.user to application.organization
  tests/integration/models/application.spec.coffee
  tests/integration/models/release.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

utils: Add overloaded typing for the mergePineOptions helper
  lib/util/index.ts
Due: resin-lint --typescript --fix

typings/pinejs-client-core: Drop the nongeneric PineOptions & PineParams
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Change the device_type of all models to resource references
  lib/models/application.js
  lib/models/device.js
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

**BREAKING** Drop the apiKey constructor option
  lib/balena.js
  tests/integration/balena.spec.coffee
  tests/integration/setup.coffee
  tests/integration/setup.d.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

typings: Reorder the DeviceWIthServices types
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings: Add a PineOptionsWithSelect variant
  typing_tests/pine-options-with-select.ts
  typing_tests/pine-options.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings: Use a separate OptionalNavigationResource type in the models
  typing_tests/pine-options.ts
  typings/balena-sdk.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Require an organization when creating applications
  lib/models/application.js
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

**BREAKING** Use the /v6 API endpoint
  lib/balena.js
Due: none

Clarify that application.getAppByOwner now accepts organization handles
  lib/models/application.js
  tests/integration/models/application.spec.coffee
Due: resin-lint

Use pine.upsert() for setting tags & envars
  lib/models/device.js
  lib/util/dependent-resource.js
  lib/util/index.ts
  lib/util/upsert.ts
Due: resin-lint --typescript --fix

**BREAKING** Expect a 409 status on unique constraint errors
  tests/integration/models/application.spec.coffee
Due: resin-lint

Add organization & organization_membership resources
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

utils: Change getCurrentServiceDetailsPineOptions to return an expand
  lib/models/application.js
  lib/models/device.js
  lib/util/device-service-details.ts
Due: resin-lint --typescript --fix

Add support for pine.upsert(), requires Pinejs ^10.19.1
  typings/balena-pine.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Make $filter or id required in pine DELETE & PATCH
  typings/balena-pine.d.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

**BREAKING** Change application and device commit to release references
  lib/models/application.js
  lib/models/device.js
  tests/integration/models/application.spec.coffee
  tests/integration/models/device.spec.coffee
  tests/integration/setup.coffee
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix, resin-lint

typings/pinejs-client-core: Support AnyObject in PineOptionsFor<T>
  typing_tests/pine-options.ts
  typings/pinejs-client-core.d.ts
Due: resin-lint --typescript --fix

typings: Drop the app_name field from the Device
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

typings: Drop the has_dependent field from the Device
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

v13.8.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add typings for the DeviceType resource
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

**BREAKING** typings: Drop duplicate service prop from ServiceInstall
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix

Add methods for the organization model
  lib/models/index.ts
  lib/models/organization.ts
  lib/util/index.ts
  tests/integration/models/organization.spec.ts
  typings/balena-sdk.d.ts
Due: resin-lint --typescript --fix
